<h1>Products (<%= @products.length %>)</h1>
<%= link_to "New Product", new_product_path %>
<br><br>

<!-- Loop all products, take each and give product name, description and formatted price of dollar from cents -->
<% @products.each do |product| %>
  <h3><%= link_to product.name, product_path(product) %></h3>
  <p>
  <%= product.description %><br>
  <%= product.formatted_price %>
  </p>

<% end %>
